body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

#message {
    text-align: center;
    margin-top: 15px;
    color: red;
}

.data-table {
    width: 100%;
    border-collapse: collapse; /* Para juntar bordas de células */
}

.data-table th, .data-table td {
    border: 1px solid #ddd; /* Adiciona bordas a células */
    padding: 10px;
    text-align: left;
}

.data-table th {
    background-color: #4CAF50; /* Cor do cabeçalho */
    color: white;
}

.data-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Linhas pares devem ser brancas */
}

.data-table tr:nth-child(odd) {
    background-color: #add8e6; /* Linhas ímpares devem ser azul claro */
}

.data-table tr:hover {
    background-color: #ddd; /* Efeito de destaque quando o mouse passa sobre a linha */
}