{% block head %}
<div class="container">
    <style>
      body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinhamento à esquerda para os itens do corpo */
    justify-content: flex-start; /* Alinhamento ao topo do corpo */
    min-height: 100vh;
    margin: 0;
    padding: 20px; /* Adicionar um pouco de padding para os elementos dentro do body */
}

        h1 {
            margin-bottom: 20px;
            color: #4a4a4a;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            color: #fff;
            background-color: #28a745;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        button:hover {
            background-color: #218838;
        }

        button:focus {
            outline: none;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Upload de Planilha</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file" class="file-label">Escolha a Planilha (.xlsx)</label>
                <input type="file" id="file" name="file" accept=".xlsx" required class="file-input">
            </div>
            <button type="submit" class="submit-btn">Enviar</button>
        </form>
        <div class="form-group">
            <button onclick="goToDados()" class="nav-btn">Ir para Dados</button>

            <button onclick="deleteAllRecords()">Excluir Todos os Registros</button> <!-- Botão para excluir todos -->
        </div>
    </div>

    <script>
        function goToDados() {
            window.location.href = '/dados';
        }

        function deleteAllRecords() {
            const confirmation = confirm("Você tem certeza que deseja excluir todos os registros?");
            if (!confirmation) return;

            // Enviar requisição ao servidor para excluir todos os registros
            fetch('/delete_all_records', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.ok) {
                    alert("Todos os registros foram excluídos com sucesso.");
                } else {
                    alert("Erro ao excluir registros.");
                }
            })
            .catch(error => {
                console.error('Erro:', error);
                alert("Erro ao excluir registros.");
            });
        }
    </script>
</div>
{% endblock %}