<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload de Planilha Excel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">

        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".xlsx" required>
            <button type="submit">Enviar</button>
        </form>


        <table>
            <thead>
                <tr>

                </tr>
            </thead>
            <tbody>
    {% for item in dados %}
    <tr>
        <td>{{ item.dsNF }}</td>
        <td>{{ item.dsSoLinha }}</td>
    </tr>
    {% endfor %}
</tbody>
        </table>
    </div>
</body>
</html>
