{% extends 'base.html' %}

{% block head %}
    <div class="container">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">


    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>


<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
{% endblock %}


{% block body %}
    <div class="container">
        <br>Produtos Sintético
        <hr>

        <hr>

        <p><th>Pesquise qualquer campo completo:</th> <input id="myInput" type="text" placeholder="Digite"></p>

        <hr>


        <table class="table  table-bordered table-responsive table-bordered">

        <tr>
            <th align= left width=100 bgcolor= #DAA520> Código </th>
            <th align= left width=100 bgcolor= #DAA520> Nome </th>
            <th align= left width=100 bgcolor= #DAA520> Login </th>
            <th align= left width=500 bgcolor= #DAA520> Senha </th>
            <th align= left width=100 bgcolor= #DAA520> Perfil </th>




        </tr>
             <tbody id="myTable">
        </tr>






{% for usuario in usuarios %}
<tr>
        <td align= left width=100 >{{usuario['cdUsuario']}}</td>
        <td align= left width=100 >{{usuario['dsNome']}}</td>
        <td align= left width=100 >{{usuario['dsLogin']}}</td>
        <td align= left width=500 >{{usuario['dsSenha']}}</td>
        <td align= left width=100 >{{usuario['cdPerfil']}}</td>





</tr>
{% endfor %}

        </tr>

    </table>


    </div>
{% endblock %}


